mixin dropdown(dropdownContent, value, buttons)
  .dropdownWrapper
    input.dropdown(type="input", value= value, readonly)&attributes(attributes)
    span.dropdownWrapper__arrow expand_more
    

    .dropdownContent
      each element in dropdownContent
        .contentLine
          .contentLine__name= element.name
          if (buttons !== true)
            .contentLine__button.contentLine__button(data-minus data-fast) -
          else
            .contentLine__button.contentLine__button(data-minus) -
          .contentLine__current(data-current= element.current, data-name= element.name, data-base= element.current)
          if (buttons !== true)
            .contentLine__button.contentLine__button(data-plus data-fast) +
          else
            .contentLine__button.contentLine__button(data-plus) +

      if (buttons === true)
        .buttonsLine
          +button({mods: "iconLink", btnLabel: "Очистить"})(style="margin-left: 0; margin-right: auto;", data-clear)
          +button({mods: "iconLink", btnLabel: "Принять"})(style="margin-left: 144px; margin-right: 0;", data-submit)