include ../components/advantages/advantages
include ../components/bullet/bullet
include ../components/button/button
include ../components/checkbox/checkbox
include ../components/comment/comment
include ../components/componentBlock/componentBlock
include ../components/expand/expand
include ../components/input/input
include ../components/like/like
include ../components/pagination/pagination
include ../components/radio/radio
include ../components/rating/rating
