include ../components/button/button
include ../components/checkbox/checkbox
include ../components/componentBlock/componentBlock
include ../components/input/input
include ../components/like/like
include ../components/pagination/pagination
include ../components/radio/radio
include ../components/rating/rating
