.signWrapper {
    background-image: url("../../images/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 728px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}