extend ../templates/devtools/devtools

block head
  title Components

block main
  .componentsWrapper
    .componentsColumn
      +componentBlock({name: "text field", status: "default"})
        +input({placeholder: "Email"})

      +componentBlock({name: "masked text field"})
        +input({mods: "date", placeholder: "ДД.ММ.ГГГГ"})

      +componentBlock({name: "subscription text field"})
        +input({
          mods: "subscribe",
          placeholder: "Email",
          subscribe: true,
          formId: "subscribe#1",
          formName: "subscribe#1"
        })
      
      +advantages([
        {
          icon: "insert_emoticon",
          name: "Комфорт",
          text: "Шумопоглощающие стены"
        },
        {
          icon: "location_city",
          name: "Удобство",
          text: "Окно в каждой из спален"
        },
      ])

      +componentBlock({name: "datepicker"})(style="margin-top: 30px;")
        div(style="display: flex")
          +datepicker()#startDate(data-range="true" data-multiple-dates-separator=" - " placeholder= "ДД.ММ.ГГГГ")
          +datepicker()#endDate(style="margin-left: 20px" data-range="true" data-multiple-dates-separator=" - " placeholder= "ДД.ММ.ГГГГ")

      +componentBlock({name: "datepicker"})(style="margin-top: 30px;")
        +datepicker()#filterDatePicker(style="width: 266px" data-range="true" data-multiple-dates-separator=" - " placeholder= "ДД.ММ.ГГГГ")




      +expandableList("expandable list")
        block content
          +checkbox({label: "Завтрак", mods: "checkbox"})
          +checkbox({label: "Письменный стол", mods: "checkbox"})(checked)
          +checkbox({label: "Стул для кормления", mods: "checkbox"})(checked)
          +checkbox({label: "Кроватка", mods: "checkbox"})(checked)
          +checkbox({label: "Телевизор", mods: "checkbox"})(checked)
          +checkbox({label: "Шампунь", mods: "checkbox"})
          
      +expandableList("expandable list")
        block content2
          +checkbox({label: "Завтрак", mods: "checkbox"})

      +componentBlock({name: "dropdown"})(style="margin-top: 20px;")
        +dropdown([
          {
            name: "Взрослые",
            current: "0"
          },
          {
            name: "Дети",
            current: "1"
          },
          {
            name: "Младенцы",
            current: "2"
          }
        ], "Сколько гостей", true)

      +componentBlock({name: "dropdown"})(style="margin-top: 20px;")
        +dropdown([
          {
            name: "Спальни",
            current: "2"
          },
          {
            name: "Кровати",
            current: "2"
          },
          {
            name: "Ванные комнаты",
            current: "0"
          }
        ], "Сколько гостей", false)(style="width: 266px")
 
    .componentsColumn
      +componentBlock({name: "checkbox buttons"})
        p
        +checkbox({
          formId: "checkbox1",
          formName: "checkbox1",
          label: "Можно курить",
          mods: "checkbox"
        })
        +checkbox({
          formId: "checkbox2",
          formName: "checkbox2",
          label: "Можно c питомцами",
          mods: "checkbox"
        })(checked)
        +checkbox({
          formId: "checkbox3",
          formName: "checkbox3",
          label: "Можно пригласить гостей (до 10 человек)",
          mods: "checkbox"
        })(checked)

      +componentBlock({name: "radio buttons"})(style="margin-top: 20px")
        +radio([
          {
            radioTitle: "Мужчина",
            inputAttr: {
              name: "Пол",
              checked: true,
            }
          },
          {
            radioTitle: "Женщина",
            inputAttr: {
              name: "Пол",
            },
            attr: {
              style: "margin-left: 20px"
            }
          }
        ])

      +componentBlock({name: "toggle"})
        +checkbox({
            formId: "toggle",
            formName: "toggle",
            label: "Получать спецпредложения",
            mods: "toggle"
        })(checked)
        +checkbox({
            formId: "toggle",
            formName: "toggle",
            label: "Получать спецпредложения",
            mods: "toggle"
        })

      +componentBlock({name: "like button"})
        +like({likeCount: "12", mode: "active"})(style="margin-right: 10px")
        +like({likeCount: "2"})

      +componentBlock({name: "rate button"})
        +rating(4)
        +rating(5)

      +componentBlock({name: "rich checkbox buttons"})
        +checkbox({
            name: "Широкий коридор",
            text: "Ширина коридоров в номере не менее 91 см.",
            mods: "checkbox"
        })
        +checkbox({
            name: "Помощник для инвалидов",
            text: "На 1 этаже вас встретит специалист  и проводит до номера.",
            mods: "checkbox"
        })

      +product({
      imageUrl: "assets/images/card1.png",
      number: "888",
      lux: true,
      price: "9 990",
      comments: "145",
      rating: "5"
      })


    .componentsColumn

      +range()

      .buttonsBlock(style="margin-top: 30px")
        .buttonsBlock__head Buttons block
        .buttonsBlock__content
          +button({mods: "", btnLabel: "click me", formName: "btn1", formId: "btn1"})
          +button({mods: "", btnLabel: "click me", formName: "btn2", formId: "btn2"})
          +button({mods: "gradBorder", btnLabel: "click me", formName: "btn3", formId: "btn3"})
          +button({mods: "gradBorder", btnLabel: "click me", formName: "btn4", formId: "btn4"})
          +button({mods: "iconLink", btnLabel: "click me", formName: "btn5", formId: "btn5"})
          +button({mods: "iconLink", btnLabel: "click me", formName: "btn6", formId: "btn6"})
      +button({mods: "",
        btnLabel: "перейти к оплате",
        arrow: true,
        formName: "btn7",
        formId: "btn7"})(style="width: 320px")

      +componentBlock({name: "pagination"})(style="margin-top: 30px")
        +pagination(4, 1, 15, arrows, "1 – 12 из 100+ вариантов аренды")

      +componentBlock({name: "bullet list"})
        +bullet([
          {text: "Нельзя с питомцами"},
          {text: "Без вечеринок и мероприятий"},
          {text: "Время прибытия — после 13:00, а выезд до 12:00"}
        ])

      +comment({
        name: "Мурад Сарафанов",
        lastOnline: "5 дней назад",
        likeCount: "12",
      })(src="./assets/images/test-user.png" alt="test user")
        block comment
          | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
