extend ../templates/devtools/devtools

block head
  title Components

block main
  .componentsWrapper
    .componentsColumn
      +componentBlock({name: "text field", status: "default"})
        +input({placeholder: "Email"})

      +componentBlock({name: "masked text field"})
        +input({mods: "date", placeholder: "ДД.ММ.ГГГГ"})

      +componentBlock({name: "subscription text field"})
        +input({mods: "subscribe", placeholder: "Email", subscribe: true, formId: "subscribe#1", formName: "subscribe#1"})
