extend ../templates/devtools/devtools

block head
  title Components

block main
  .componentsWrapper
    .componentsColumn
      +componentBlock({name: "text field", status: "default"})
        +input({placeholder: "Email"})

      +componentBlock({name: "masked text field"})
        +input({mods: "date", placeholder: "ДД.ММ.ГГГГ"})

      +componentBlock({name: "subscription text field"})
        +input({
          mods: "subscribe",
          placeholder: "Email",
          subscribe: true,
          formId: "subscribe#1",
          formName: "subscribe#1"
        })

    .componentsColumn

    .componentsColumn
      .buttonsBlock
        .buttonsBlock__head  Buttons block        
        .buttonsBlock__content
          +button({mods: "", btnLabel: "click me", formName: "1", formId: "1"})
          +button({mods: "", btnLabel: "click me", formName: "2", formId: "2"})
          +button({mods: "gradBorder", btnLabel: "click me", formName: "3", formId: "3"})
          +button({mods: "gradBorder", btnLabel: "click me", formName: "4", formId: "4"})
          +button({mods: "iconLink", btnLabel: "click me", formName: "5", formId: "5"})
          +button({mods: "iconLink", btnLabel: "click me", formName: "6", formId: "6"})
      +button({mods: "",
        btnLabel: "перейти к оплате",
        arrow: true,
        formName: "7",
        formId: "7"})(style="width: 320px")
          

