<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Test page
    body(style="background-color: #FFE5B4; margin-top: 50px; margin-left: 5vw")
      a(href="./colorstypes.html", style="color: blue; font-size: 18px;") ColorsTypes
      p
      a(href="./components.html", style="color: blue; font-size: 18px;") Components
      p
      a(href="./headers&footers.html", style="color: blue; font-size: 18px") Headers and footers
      p
      a(href="./main.html", style="color: blue; font-size: 18px") Main
      p
      a(href="./searching.html", style="color: blue; font-size: 18px") Searching