extend ../templates/main/mainLayout

block head
  title Main page

block main
  .mainPage
    include ../includes/component/card/card
      block cardContent
        .cardHeader Найдем номера под ваши пожелания
        .datesWrapper
          +componentBlock({name: "Прибытие"})
            +datepicker()#startDate(data-range="true" data-multiple-dates-separator=" - " placeholder= "ДД.ММ.ГГГГ")
          +componentBlock({name: "Выезд"})(style="margin-left: 20px")
            +datepicker()#endDate(data-range="true" data-multiple-dates-separator=" - " placeholder= "ДД.ММ.ГГГГ")

        +componentBlock({name: "Гости"})
          +dropdown([
            {
              name: "Взрослые",
              current: "0"
            },
            {
              name: "Дети",
              current: "1"
            },
            {
              name: "Младенцы",
              current: "2"
            }
          ], "Сколько гостей", true)

        +button({mods: "",
          btnLabel: "подобрать номер",
          arrow: true,})(style="width: 320px" onclick="window.location.href='./searching.html'")

    .mainPage__label Лучшие номера для вашей работы, отдыха и просто вдохновения