mixin checkbox(options)

  //- 
    mods:             - string -      addition modes. Multiple modes expample: "mode1,mode2,mode3"
    formName:         - string -      name for form and checkbox;
    formId:           - string -      id for form and checkbox;
    label:            - string -      label for checkbox
    name:             - string -      name for rich checkbox

    Example: 
          +checkbox({
            formId: "checkbox3",
            formName: "checkbox3",
            label: "Можно пригласить гостей (до 10 человек)"
          })(checked)
  -
    if(typeof(options) === 'undefined') {
      var options = {};
    }
    var allMods = '';
    if (typeof(options) !== "undefined" && options.mods) {
      var modList = options.mods.split(',');
      for (var i = 0; i < modList.length; i++) {
        allMods = allMods + ' checkbox__custom_' + modList[i].trim();
      }
    }


  .checkboxWrapper
    label.checkbox(id= options.formId, name= options.formName)
      input.checkbox__input(type="checkbox", id= options.formId, name= options.formName)&attributes(attributes)
      span.checkbox__custom(class= allMods)
    if (options.name != null)
      .checkboxRich
        .checkboxRich__name= options.name
        .checkboxRich__text= options.text
    if (options.label != null)
      if (options.mods.indexOf("toggle") != -1)
        span.label(style="margin-left: 50px")= options.label
      else
        span.label= options.label