@import "../../../scss/main.scss";

.footer {
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    max-width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    box-sizing: border-box;

    .footerInfo {
        display: flex;
        flex-direction: row;
        padding-top: 100px;
        padding-bottom: 100px;

        .footerContent {
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;

            &_logo {
                display: block
            }

            &__element {
                @include fontSettings($montserratRegular, 14px, 14px, $black75);
                margin-bottom: 15px;
                outline: none;
                text-decoration: none;
                
                &:last-child {
                    margin-bottom: 0;
                }

                &_header {
                    @include fontSettings($montserratBold, 12px, 24px, $black);
                    text-transform: uppercase;
                }
            }
        }
    }

    &__hr {
        width: 100vw;
        margin-left: -10vw;
        margin-bottom: 0;

        border: none;
        height: 1px;
        color: $black25;
        background-color: $black25;
    }

    .footerCopyright {
        display: flex;
        flex-direction: row;

        @include size(100%, 70px);
        box-sizing: border-box;
        align-items: center;



        &__elem {
            @include fontSettings($montserratRegular, 14px, 14px, $black75);
            margin-left: 0;
            margin-right: auto;
        }

        .copyrightSocials {
            display: flex;
            flex-direction: row;
            margin-right: 0;
            margin-left: auto;

            &__elem {
                @include fontSettings($awesome, 24px, 24px, $addition);
                @include text-gradient(180deg, #bc9cff, #8ba4f9);
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @media screen and (max-width: 1100px) {
        width: 100vw;
        padding-top: 30px;
        padding-bottom: 30px;

        .footerInfo {
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 20px;
            .footerContent {
                display: none;
                
                &_logo {
                    display: block;
                    margin-bottom: 0;
                }

                &_logo > 
                .footerContent__element:last-child {
                    display: none;
                }

            }
        }

        &__hr {
            display: none;
        }

        .footerCopyright {
            flex-direction: column;
            margin-top: 0;
            padding-bottom: 60px;

            &__elem {
                margin-left: auto;
                margin-right: auto;
            }

            .copyrightSocials {
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
            }
        }
    }
}